#cars-table {
  td {
    cursor: pointer;
  }

  .blue {
    background-color: blue;
    color: #ffffff;
  }

  .green {
    background-color: green;
    color: #000000;
  }

  .red {
    background-color: red;
    color: #ffffff;
  }
}